/* public/css/page3Mobile.css */
.page3-mobile-wrapper {
    padding: 1rem;
    background: #fff;
  }
  .mobile-hero-3 {
    background: #dedede;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
  }
  .mobile-content-3 {
    margin-top: 1rem;
    background: #fefefe;
    padding: 1rem;
    border-radius: 6px;
  }
  