/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここに "body { background: transparent; ... }" など追加 */
body {
  background-color: transparent !important;
  /* もし白色背景が邪魔なら */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
